/*
colours used 
text colour (dark grey): 02040A
primary colour (dark blue green): #0E57DC
secondary colour (golden yellow): #EAD084
Check that the contrast works! contrast ration checker
*/ 

/* UPDATE: from now on the html files have to refer to style.prodution.css. You have to:
Copy the content of your CSS file and paste it into the PostCSS playground for converting variables.
Copy the output of the PostCSS playground and paste it into the autoprefixer.
Paste the output of the autoprefixer into the style.production.css.

*/

:root {
  /* sapphire blue */
  --primary-color: rgb(26, 101, 158);
  /* USAFA blue */
  --secondary-color: rgb(0, 78, 137); 
  /* orange crayola */
  --tertiary-color: rgb(255, 107, 53);
   /* peach crayola */
  --fourth-color: rgb(247, 197, 159);
  /* beige */
  --fifth-color: rgb(239, 239, 208);
  
  /* the exercise tells me to replace all colors, but does it make sense to replace colors like white and black? 
  or the red color for a visited website? I am never going to repeat the color red apart from this purpose*/
}

*{
  box-sizing: border-box;
}  

body {
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
/* About page title */
h1 {
  font-size: 50px;
  color: var(--secondary-color);
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  /* About page grid titles */     
h2 {
  font-size: 40px;
  color: var(--fifth-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* work page header, where there is an inversion of colors from About page */    
h3 {
  font-size: 30px;
  color: var(--tertiary-color);
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  
/* work page project item title */ 
h4 {
  color: whitesmoke;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* text-shadow: white; */
}
/* Work page "description" */
h5 {
  color: var(--secondary-color);
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--tertiary-color);
  text-decoration: none;
  transition: 0.25s color;
  font-weight: bold;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover {
  color: var(--primary-color);
}

/* #ad84c6
.text-anchor {
  color: var(--tertiary-color);
}

.text-anchor:hover {
  color: var(--tertiary-color);
} */

.button {

  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color:  var(--secondary-color);
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  /* transition-duration: 0.2s;
  transition-property: opacity; */
  margin-top: 50px;
}

.button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: var(--fifth-color);
}
/* button in contact page, same as button in about page but with linkedin sticker */
.contact-button {
  background: url("./Img/linkedin-sticker.png");
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  /* background-color:  rgb(51, 62, 70); */
  color: white;
  font-size: 20px;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 30px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.3); */
  /* transition-duration: 0.2s;
  transition-property: opacity; */
}

.contact-button:hover, contact-button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: var(--primary-color);
}

.profile_portrait {
  width: 240px;
  height: 320px;
  border-radius: 15%;
}

.page-footer {
  clear: both;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Monica-logo {
  float: left;
  width: 250px;
  margin-right: 40px;
}


  .page-header_logo{
    width: 60px;
    height: 50px;
  }


.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header_item {
  flex: 0 1 100px;
}

.page-header .page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  display: inline-block;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
/* nav items and h1 have the same color */
.navigation-list_item {
  color: var(--primary-color);
}

.navigation-list_item:hover{
  color: var(--tertiary-color);
}

/* the followings do not target anything, it is the anchor tag "a" instead that works for the nav bar
.navigation-list_item:active{
  color: var(--primary-color);
} */

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 40px;
}

.project-list_item {
  background-color: var(--fourth-color);
  text-align: center;
  width: auto;
  min-height: auto;
  display: inline-block;
  padding: 20px;
  /* border-bottom: #edc655;
  border-bottom-style: solid;
  border-right: #edc655;
  border-right-style: solid; */
  box-shadow: 5px 5px var(--primary-color);
}

.project-list_item:hover {
  transform: scale(1.01);
  transition: 0.2s;
}
.project-list_item_screenshot {
  grid-area: photo;
}

.project-list_item_screenshot>img {
  object-fit: cover;
  width: 100%;
}

/* .mymovies-screenshot{
  grid-area: photo;
}

.mymovies-screenshot>img {
  object-fit: cover;
  width: 100%
}

.meet-app-screenshot{
  grid-area: photo;
}

.meet-app-screenshot>img {
  object-fit: cover;
  width: 100%
}

.pokedex-screenshot{
  grid-area: photo;
}

.pokedex-screenshot>img {
  object-fit: cover;
  width: 100%
} */

.project-list_item--githublink {
  color: var(--primary-color);
}

.project-list_item--githublink:hover{
  color: white;
}

.project-list_item--githublink:active{
  color: var(--secondary-color);
}

/* the following overwrites the grid settings above. Media queries
adapt CSS rules for different devices */

/* work media queries for different screen types */
@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .page-header_item {
    flex: 0 1 ;

  }
  .page-header_logo{
    width: 60px;
    height: 50px;
  }
}

@media all and (min-width: 500px) and (max-width:750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }
  .project-list_item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .h1 {
    font-size: 22px;
  }
}
/* -------------------- styles for myMovies Case Study ---------------- */

.caseStudy-grid_item {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.caseStudy-grid_item_img {
  /* column-width: 30%; */
  padding: 80px;
}
.caseStudy-grid_item_screenshot>img {
  border-radius: 1%;
  object-fit: cover;
  width: 100%;
}

.movie-card-screenshot {
  margin-top: 150px;
  height: 300px;
  width: 600px;
  border-radius: 1%;
}

.project-folder-screenshot {
  /* margin-top: 120px; */
  height: 500px;
  width: 450px;
  border-radius: 1%;
}

.movie-card-props-screenshot{
  margin-top: 130px;
  height: 350px;
  width: 600px;
  border-radius: 1%;
}

.login-card-screenshot{
  height: 500px;
  width: 700px;
  border-radius: 1%;
}

/* .login-view-screenshot{
  height: 300px;
  width: 600px;
  border-radius: 1%;
} */

/* the following code does not work, the background color does not change! */
.contact-page {
background-color: var(--fourth-color);
/* background: rgb(23,85,133);
background: linear-gradient(309deg, rgba(23,85,133,1) 0%, rgba(26,101,158,1) 42%, rgba(30,118,186,1) 100%); */
height: 600px;
}

.work-body {
  background-color: var(--fifth-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5%;
  padding-left: 3%;
}

.profile {
  background-color:lightgray;
  height: 575px;
  /* max-width: 700px; */
  /* margin: auto; */
}

.about-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
}

.about-grid_item {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.about-grid_item_img {
  /* column-width: 30%; */
  padding: 80px;
}
.about-grid_item_animation {
  /* column-width: 30%; */
  padding: 60px;
}

.about-grid_item_animation_memes {
  display: flex;
  text-align: center;
}

.learning-sticker{
  height: 100px;
  width: 100px;
}
.creativity-sticker {
  height: 100px;
  width: 100px;
}

.frontend-sticker {
  margin-top: 120px;
  height: 200px;
  width: 300px;
}

.joda-meme {
  /* margin-top: 120px; */
  height: 200px;
  width: 300px;
}

.elonmusk-meme {
  height: 200px;
  width: 300px;
}
/* work page */
.idea-sticker {
  margin-top: 30px;
  height: 110px;
  width: 110px;
}

.linkedin-sticker {
  margin-top: 30px;
  height: 110px;
  width: 110px;
}

/* About Page grid - setting for different screens */
@media all and (max-width: 400px) {
  .about-grid {
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .about-grid_item {
    width: 100%;
    text-size-adjust: auto;
  }

  .page-header_item {
    flex: 0 1 ;
    width: 100%;

  }
  .page-header_logo{
    width: 60px;
    height: 50px;
  }
}

@media all and (max-width: 750px) {
  .about-grid {
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .about-grid_item {
    width: 100%;
    text-size-adjust: auto;
  }

  .page-header_item {
    flex: 0 1 ;
    width: 100%;

  }
  .page-header_logo{
    width: 60px;
    height: 50px;
  }
}

@media all and (max-width: 750px) {
  /* .about-grid {
    grid-gap: 10px;
  } */
  .about-grid_item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }  

}

/* For Mobile */
/* @media screen and (max-width: 950px) {
  .profile-intro {
    max-width: 900px;
    margin-left: 3px;
    margin-bottom: 100px;
    text-align: left;
  }
}
@media screen and (min-width: 950px) {
  .profile-intro {
    max-width: 900px;
    margin-left: 300px;
    margin-bottom: 100px;
    text-align: left;
  }
} */

.about-body {
  /* background: rgb(23,85,133);
  background: linear-gradient(309deg, rgba(23,85,133,1) 0%, rgba(26,101,158,1) 42%, rgba(30,118,186,1) 100%); */
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  /* same padding as in Work page, class "work-body" */
  padding-right: 5%;
  padding-left: 3%;
  background-color:  var(--fourth-color);
}

.contact-body {
  text-align: center;
}

.hobby-list {
  list-style-type: none;
}

.berlin-illustration {
  margin-top: 140px;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translateX(446px);  
  }
  to {
    transform: translateX(100px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(200px);
  }
}

.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}



